.about
    .container.grid
        .row
            .col-md-6
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                
            .col-md-6.lead
                p In French, “BonTon” means “in good fashion”, which exemplifies the sophisticated and seamless manner in which we plan and implement extraordinary events for our clients.
                p We professionally and expertly handle all aspects of event planning, from the original idea to final implementation.
                br
                button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#workwithus') Work with us


            #workwithus.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            .lead.modal-title Work with us
                        .modal-body
                            .lead Fusce dapibus, tellus ac cursus commodo.

                            br
                            form
                            fieldset.form-group
                                label.lead.small Name
                                input.form-control(type='text')
                            fieldset.form-group
                                label.lead.small Email
                                input.form-control(type='text')
                            fieldset.form-group
                                label.lead.small Message
                                textarea.form-control(rows='3')

                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Send message