.about
    .container.grid
        .row
            .col-md-6
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                img(src='holder.js/120x120?bg=#ddd')
                img(src='holder.js/120x120?bg=#eee')
                
            .col-md-6.lead
                p In French, “BonTon” means “in good fashion”, which exemplifies the sophisticated and seamless manner in which we plan and implement extraordinary events for our clients.
                p We professionally and expertly handle all aspects of event planning, from the original idea to final implementation.
                br
                button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#workwithus') Work with us