.row
	#carousel.carousel.slide(data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#carousel', data-slide-to='0')
			li(data-target='#carousel', data-slide-to='1')
		.carousel-inner(role='listbox')
			.carousel-item.active
				.jumbotron.bg-inverse
					h1.display-3 Malesuada Purus Egestas.
					p.lead
					| Cras mattis consectetur purus sit amet fermentum.
			.carousel-item
				.jumbotron.bg-inverse
					h1.display-3 Fusce Etiam Cursus.
					p.lead
					| Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

.row
	.col-md-1.col-centered.scroll
		i.fa.fa-arrow-down