.row(style='background-color: #eee')
	.container(style='margin:auto; padding-left:0.9375rem; padding-right:2.9375rem; background-color:#eee')
		nav.navbar.navbar-light
			.nav.navbar-nav
				a.nav-item.nav-link(style='padding-top:50px', href='/weddings') Weddings
				a.nav-item.nav-link(style='padding-top:50px', href='/weddings') Corporate
				a.nav-item.nav-link(href='/')
					img(src="holder.js/100x100?text=BonTon&bg=#ddd")
				a.nav-item.nav-link(style='padding-top:50px', href='#', type='button', data-toggle='modal', data-target='#contact') Contact
				a.nav-item.nav-link(style='padding-top:50px', href="https://www.facebook.com/pages/BonTon-Event-Specialists/212240105543207")
					i.fa.fa-facebook
				a.nav-item.nav-link(style='padding-top:50px', href="https://www.instagram.com/bonton_events/?hl=en")
					i.fa.fa-instagram
				a.nav-item.nav-link(style='padding-top:50px', href="http://pinterest.com/bonton123/")
					i.fa.fa-pinterest



		#contact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						.lead.modal-title Get in touch
					.modal-body
						.lead Fusce dapibus, tellus ac cursus commodo.

						br
						form
						fieldset.form-group
							label.lead.small Name
							input.form-control(type='text')
						fieldset.form-group
							label.lead.small Email
							input.form-control(type='text')
						fieldset.form-group
							label.lead.small Message
							textarea.form-control(rows='3')

					.modal-footer
						button.btn.btn-secondary(type='button', data-dismiss='modal') Send message
