.row.nav
	.col-md-7.col-centered
		nav.nav.nav-inline
			a.nav-link(href='/weddings') Weddings
			a.nav-link(href='#') Corporate
			a.nav-link(href='#')
				img(src="holder.js/300x100?text= &bg=#ddd")
			a.nav-link(href='#') Contact
			.nav-link
			a.nav-link.social(href='#')
				i.fa.fa-facebook
			a.nav-link.social(href='#')
				i.fa.fa-twitter
			a.nav-link.social(href='#')
				i.fa.fa-pinterest
			//- a.nav-link.social(href='#')
			//- 	i.fa.fa-instagram
