.row
	.card.quote.card-inverse.blockquote
		i.fa.fa-quote-left.fa-4 &nbsp; Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. &nbsp;
		i.fa.fa-quote-right.fa-4
		br
		h6.text-muted
			em Lorem Sollicitudin
