.row(style="background-color: #ddd; padding-bottom: 3rem;")
	.col-md-8.col-md-offset-2
		.card.quote.card-inverse.blockquote
			i.fa.fa-quote-left.fa-4 
			span.serif &nbsp; Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. &nbsp;
			i.fa.fa-quote-right.fa-4
			br
			.lead.cite.large
				em Lorem Sollicitudin
