.row
	.col-md-6.header(style="border-right: 1px solid #ddd;")
		a(href="/weddings")
			.inner
				h2 Weddings
				p.lead Cras mattis consectetur risus sem sollicitudin mattis<br>
					i.fa.fa-long-arrow-right
	.col-md-6.header
		a(href="/corporate")
			.inner
				h2 Corporate
				p.lead Venenatis pellentesque euismod fusce etiam<br>
					i.fa.fa-long-arrow-right
