extends ./layouts/layout.jade

block content

    include ./includes/header.jade
    include ./includes/whatwedo.jade
    include ./includes/quote.jade
    include ./includes/portfolio.jade
    include ./includes/quote.jade
