extends ./layouts/layout.jade

block split
	.row
		.col-md-6.header
			.inner.landing
		.col-md-6.header
			.inner.landing
				h2 Weddings
				.lead 
					| Integer posuere erat a ante venenatis dapibus posuere.
	
block content
	.container.work
		br
		.row
			.col-md-12
				h3.card-title Work with us
				.lead
					| Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.
				br
				hr
				br
				h5.card-title Section title
				br
				form
					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							input.form-control(type='text', placeholder='')
					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							input.form-control(type='text', placeholder='')
					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							input.form-control(type='text', placeholder='')

					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Selection
						.col-sm-6
							select.form-control
								option Option
								option Option
								option Option
								option Option

					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							textarea.form-control(type='text', rows='3')

					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							textarea.form-control(type='text', rows='3')
				br
				hr
				br
				h5.card-title Section title
				br
				form
					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							input.form-control(type='text', placeholder='')
					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							input.form-control(type='text', placeholder='')
					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							input.form-control(type='text', placeholder='')

					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Selection
						.col-sm-6
							select.form-control
								option Option
								option Option
								option Option
								option Option

					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							textarea.form-control(type='text', rows='3')

					.form-group.row
						label.col-sm-5.col-sm-offset-1.form-control-label Question
						.col-sm-6
							textarea.form-control(type='text', rows='3')
				br
				hr
				br

				form
					.lead.cite.text-xs-center
						em Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod.
				br
				br
				.row
					.col-md-1.col-centered
						button.btn.btn-secondary Apply

									
