extends ./layouts/layout.jade

block split
	.row
		.col-md-6.header
			.inner.landing
		.col-md-6.header
			.inner.landing
				h2 Weddings
				.lead 
					i.fa.fa-quote-left.fa-4 &nbsp; 
					| Integer posuere erat a ante venenatis dapibus posuere.&nbsp;
					i.fa.fa-quote-right.fa-4
					br
					.lead.cite
						em Lorem Sollicitudin
	
block content
	.container.work
		.row
			.col-md-6
				.card.work
					a(href="/weddings/work")
						img(src="holder.js/100px250")
					.card-block
						h6.card-subtitle.text-muted WEDDINGS
						br
						a(href="/weddings/work")
							h4.card-title Card title
						p.card-text Some quick example text

			.col-md-6
				.card.work
					a(href="/weddings/work")
						img(src="holder.js/100px250")
					.card-block
						h6.card-subtitle.text-muted WEDDINGS
						br
						a(href="/weddings/work")
							h4.card-title Card title
						p.card-text Some quick example text
		.row
			.col-md-6
				.card.work
					a(href="/weddings/work")
						img(src="holder.js/100px250")
					.card-block
						h6.card-subtitle.text-muted WEDDINGS
						br
						a(href="/weddings/work")
							h4.card-title Card title
						p.card-text Some quick example text

			.col-md-6
				.card.work
					a(href="/weddings/work")
						img(src="holder.js/100px250")
					.card-block
						h6.card-subtitle.text-muted WEDDINGS
						br
						a(href="/weddings/work")
							h4.card-title Card title
						p.card-text Some quick example text
		br
		.row
			.col-md-1.col-centered
				button.btn.btn-secondary Load more
