extends ./layouts/layout.jade

block split
	.row
		.col-md-6.header
			.inner.landing
		.col-md-6.header
			.inner.landing
				h2 Weddings
				.lead 
					i.fa.fa-quote-left.fa-4 &nbsp; 
					| Client quote integer posuere erat a ante venenatis dapibus posuere.&nbsp;
					i.fa.fa-quote-right.fa-4
					//- br
					//- .lead.cite
					//- 	em Client name
	
block content
	.container.work
		.row
			.col-md-6
				.card.work
					a(href="/weddings/work")
						img(src="holder.js/100px250")
					br
					h6.card-subtitle.text-muted WEDDINGS
					a(href="/weddings/work")
						h4.card-title Event title Condimentum Nibh
					p.card-text Event intro. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

			.col-md-6
				.card.work
					a(href="/weddings/work")
						img(src="holder.js/100px250")
					br
					h6.card-subtitle.text-muted WEDDINGS
					a(href="/weddings/work")
						h4.card-title Event title Condimentum Nibh
					p.card-text Event intro. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		br
		br
		.row
			.col-md-6
				.card.work
					a(href="/weddings/work")
						img(src="holder.js/100px250")
					br
					h6.card-subtitle.text-muted WEDDINGS
					a(href="/weddings/work")
						h4.card-title Event title Condimentum Nibh
					p.card-text Event intro. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

			.col-md-6
				.card.work
					a(href="/weddings/work")
						img(src="holder.js/100px250")
					br
					h6.card-subtitle.text-muted WEDDINGS
					a(href="/weddings/work")
						h4.card-title Event title Condimentum Nibh
					p.card-text Event intro. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

