extends ./layouts/layout.jade

block split
	.row
		.col-md-6.header
			.inner.work
		.col-md-6.header
			.inner.work
				h2 Jane &amp; John Wed
				.lead 
					i.fa.fa-quote-left.fa-4 &nbsp; 
					| Client quote. Integer posuere erat a ante venenatis dapibus posuere.&nbsp;
					i.fa.fa-quote-right.fa-4
					//- br
					//- h6.text-muted
					//- 	em Jane
	
block content
	.container.work
		.row
			.col-md-8.lead(style="padding-right: 40px; font-size: 1rem;")
				p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.
				p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum.
				p Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.
				p Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				br
				//- button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#workwithus') Work with us
			.col-md-4
				.card.deets
					ul.list-group.list-group-flush
						li.list-group-item Our role
							ul.small Concept, organisation &amp; on the day
						li.list-group-item Style
							ul.small Bohemian, Casual
						li.list-group-item Colours
							ul.small
								img(src="holder.js/20x20?text= &bg=#a31f1f" style="border-radius: 100%; margin-right: 4px; margin-top: 4px;")
								img(src="holder.js/20x20?text= &bg=#d46f2b" style="border-radius: 100%; margin-right: 4px; margin-top: 4px;")
								img(src="holder.js/20x20?text= &bg=#d4b22b" style="border-radius: 100%; margin-right: 4px; margin-top: 4px;")
						li.list-group-item Service providers
							br
							ul.small Venue | &nbsp;
								a(href="/") Newlands Forest
							ul.small Photographer | &nbsp;
								a(href="/") He is Visual
							ul.small Flowers | &nbsp;
								a(href="/") Le Fleur
							ul.small Cake | &nbsp;
								a(href="/") Charly's Bakery
							ul.small Dress | &nbsp;
								a(href="/") Elbeth Gillis
							ul.small Hair &amp; Makeup | &nbsp;
								a(href="/") Ida Webster
		br
		br
		.row
			.col-md-6
				.card.work
					a(href="#")
						img(src="holder.js/100px276")
					br
					br
					a(href="#")
						img(src="holder.js/100px276")

			.col-md-6
				.card.work
					a(href="#")
						img(src="holder.js/100px600")
		br
		.row
			.col-md-6
				.card.work
					a(href="#")
						img(src="holder.js/100px300")

			.col-md-6
				.card.work
					a(href="#")
						img(src="holder.js/100px300")
		br
		.row
			.col-md-12
				.card.work
					img(src="holder.js/100px600?text=Video")

block quote
	.container.related
		h2.text-xs-center Some of our other work
		br
		br
		.row
			.col-md-6
				.card.related(style="margin-right: 1rem;")
					a(href="/weddings/work")
						img(src="holder.js/100px400")
					br
					h6.card-subtitle.text-muted WEDDINGS
					a(href="/weddings/work")
						h4.card-title Condimentum Nibh Venenatis Purus
					p.card-text Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

			.col-md-6
				.card.related(style="margin-left: 1rem;")
					a(href="/weddings/work")
						img(src="holder.js/100px400")
					br
					h6.card-subtitle.text-muted WEDDINGS
					a(href="/weddings/work")
						h4.card-title Condimentum Nibh Venenatis Purus
					p.card-text Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	

block about
	.about
		.container.grid
			.row
				.col-md-6
					img(src='holder.js/120x120?bg=#ddd')
					img(src='holder.js/120x120?bg=#eee')
					img(src='holder.js/120x120?bg=#ddd')
					img(src='holder.js/120x120?bg=#eee')
					img(src='holder.js/120x120?bg=#eee')
					img(src='holder.js/120x120?bg=#ddd')
					img(src='holder.js/120x120?bg=#eee')
					img(src='holder.js/120x120?bg=#ddd')
					img(src='holder.js/120x120?bg=#ddd')
					img(src='holder.js/120x120?bg=#eee')
					img(src='holder.js/120x120?bg=#ddd')
					img(src='holder.js/120x120?bg=#eee')

				.col-md-6.lead
					p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
					p Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					p Sed posuere consectetur est at lobortis. Vestibulum id ligula. 
					br
					button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#workwithus') Work with us
					&nbsp;&nbsp;
					a.btn.btn-secondary(href="/weddings") Our work
					&nbsp;&nbsp;
					a.btn.btn-secondary(type='button', data-toggle='modal', data-target='#ourteam') Our team


				#workwithus.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
								.lead.modal-title Work with us
							.modal-body
								.lead Fusce dapibus, tellus ac cursus commodo.

								br
								form
									fieldset.form-group
										label.lead.small Name
										input.form-control(type='text')
									fieldset.form-group
										label.lead.small Email
										input.form-control(type='text')
									fieldset.form-group
										label.lead.small Message
										textarea.form-control(rows='3')

							.modal-footer
								button.btn.btn-secondary(type='button', data-dismiss='modal') Send message

				#ourteam.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
								.lead.modal-title Our team
							.modal-body
								.lead Fusce dapibus, tellus ac cursus commodo. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. 
								br
								br
								.media
									.media-left
										img(src='holder.js/120x120')
									.media-body
										h4.media-heading Elizabeth
										| Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

								br
								.media
									.media-left
										img(src='holder.js/120x120')
									.media-body
										h4.media-heading Meagan
										| Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.  Vestibulum id ligula porta felis euismod semper.
								br
								br
								
