.sans{
	font-family: $font-family-sans-serif !important;
}

.serif {
	font-family: $font-family-serif !important;
}

.text-muted {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

// .text-center{
// 	text-align: center;
// }
// .text-right{
// 	text-align: right;
// }

.row.nav {
	background-color: #eee;
	padding-top: 20px;
}

.header {
	padding: 0px;
}

.header .inner {
	padding: 150px 150px 50px 200px;
	background-color: #eee;
	height: 400px;
	.lead{
		opacity: 0;
		transition: 0.7s;
	}
	&:hover,
	&:active {
		background-color: #ddd;
		transition: 0.7s;
		.lead {
			opacity: 1;
		}
	}
}

.header .inner.work, .inner.landing {
	padding: 150px 150px 50px 200px;
	background-color: #eee;
	height: 425px;
	&:hover,
	&:active {
		background-color: #eee;
	}
	.lead {
		opacity: 1;
	}
}

.nav-inline .nav-item + .nav-item, .nav-inline .nav-link + .nav-link {
	margin-left: 2rem;
}

.nav-inline .nav-link + .nav-link.social {
	margin-left: 1rem;
}

.nav-link {
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0.09rem;
	color: $brand-black;
		&:hover,
		&:active {
			color: $brand-grey;
		}
}

.header a{
	&:hover,
	&:active {
		text-decoration: none;
	}
}

.list-inline {
	list-style: none;
	li {
		display: inline;
		padding-right: 0.5rem;
	}
}

// .list-group-item:active {
// 	background-color: #eee;
// }

body {
	padding-top: 0px;
}

.content{
	margin-top: 1rem;
}

.container.grid {
	padding-top: 100px;
	padding-bottom: 100px;
}

.container.work {
	padding: 100px 100px;
}

.container.related {
	background-color: #ddd;
	padding: 6rem 12em;
	margin: 0px;
	max-width: 100%;
}

// .navbar-sidebar {
// 	margin-right: 50px;
// 	margin-top: 30px;
// }

// .navbar-sidebar a {
// 	margin: 0px;
// 	padding: 0px;
// 	text-decoration: none;
// 	color: #fff;
// 	font-weight: 700;
// }

.jumbotron {
	height: 600px;
	width: 100%;
	margin-bottom: 0px;
	padding-left: 100px;
}

#carousel {
	height: 600px;
	width: 100%;
	margin-bottom: 0px;
}

hr.title {
	background-color: #fff;
	width: 50%;
}

.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	padding-right: 30px;
	margin-left: -30%;
	text-align: center;
	list-style: none;

li {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 10px;
	text-indent: -999px;
	cursor: pointer;
	// IE9 hack for event handling
	//
	// Internet Explorer 9 does not properly handle clicks on elements with a `background-color` of `transparent`,
	// so we use `rgba(0,0,0,0)` instead since it's a non-buggy equivalent.
	// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
	background-color: rgba(0,0,0,0); // IE9
	border: 1px solid $carousel-indicator-border-color;
	border-radius: 10px;
}

.active {
	width: 15px;
	height: 15px;
	margin: 10px;
	background-color: $carousel-indicator-active-bg;
	}
}

.banner-content {
	height: 600px;
	width: 100%;
	margin-bottom: 0px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.scroll {
	font-size: 60px;
}

.card.quote {
	border: none !important;
	background-color: #ddd;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

.card.work {
	border: none !important;
	padding-left: 5px;
	padding-right: 5px;
}

.list-group-flush .list-group-item {
	border: none;
	padding-left: 30px;
}

.card.deets {
	border: none;
	border-left: 2px solid #ddd;
	border-radius: 0;
	font-size: 13px;
	color: #888;

}

.card.related {
	background-color: #ddd;
	padding: 2rem 6rem;
	border: none;
}

.card-block {
	padding: 2.25rem;
}

.card-subtitle {
	padding-bottom: 10px;
}

.blockquote {
	height: 200px;
	width: 100%;
	font-size: 30px;
	text-align: center;
	padding-top: 60px;
}

.base-finder {
	button {
		&:active,
		&:focus {
			outline: none;
		}
	}
	.card{
		border-radius: 0;
		border: none;
	}
}

.lead {
	line-height: 1.75em;
}

.lead.small {
	font-size: 1rem;
}

.lead.cite {
	font-size: 0.8rem;
}

.lead.cite.large {
	font-size: 1.1rem;
}

ul .small {
	padding-left: 20px;
}

.btn-secondary {
	border-radius: 0;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	letter-spacing: 0.1em;
	padding: 10px 30px;
}

.modal-title, .modal-body {
	color: $brand-black;
}

.footer {
	background-color: $brand-black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $brand-footer;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 0.09rem;
}

.footer a {
	color: $brand-footer;
}

.footer .text {
	padding-top: 5px;
}

