.sans{
	font-family: $font-family-sans-serif !important;
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.list-inline{
	list-style: none;
	li{
		display: inline;
		padding-right: 0.5rem;
	}
}

.list-group-item:active {
	background-color: #eee;
}

body {
	padding-top: 0px;
}

.content{
	margin-top: 1rem;
}

.navbar-sidebar {
	margin-right: 50px;
	margin-top: 30px;
}

.navbar-sidebar a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}

.jumbotron {
	height: 600px;
	width: 100%;
	margin-bottom: 0px;
	padding-left: 100px;
}

#carousel {
	height: 600px;
	width: 100%;
	margin-bottom: 0px;
}

hr.title {
	background-color: #fff;
	width: 50%;
}

.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	padding-right: 30px;
	margin-left: -30%;
	text-align: center;
	list-style: none;

li {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 10px;
	text-indent: -999px;
	cursor: pointer;
	// IE9 hack for event handling
	//
	// Internet Explorer 9 does not properly handle clicks on elements with a `background-color` of `transparent`,
	// so we use `rgba(0,0,0,0)` instead since it's a non-buggy equivalent.
	// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
	background-color: rgba(0,0,0,0); // IE9
	border: 1px solid $carousel-indicator-border-color;
	border-radius: 10px;
}

.active {
	width: 15px;
	height: 15px;
	margin: 10px;
	background-color: $carousel-indicator-active-bg;
	}
}

.banner-content {
	height: 600px;
	width: 100%;
	margin-bottom: 0px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.scroll {
	font-size: 60px;
}

.blockquote {
	height: 200px;
	width: 100%;
	font-size: 30px;
	text-align: center;
	padding-top: 60px;
}

.card-title {
	font-family: $font-family-serif;
}

.base-finder{
	button{
		&:active,
		&:focus{
			outline: none;
		}
	}
	.card{
		border-radius: 0;
		border: none;
	}
}

.newsletter{
	background-color: $brand-grey;
	color: $brand-black;
	font-size: 14px;
}

.footer{
	background-color: $brand-black;
	color: $brand-footer;
	font-size: 14px;
}

.footer a {
	color: $brand-footer;
}
