.row
    .card.card-inverse.bg-inverse.banner-content
        .blockquote Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.
        
.row
    .col-md-1.col-centered.scroll
            i.fa.fa-arrow-down 