doctype html
html(lang="en")
    head
        title= "BonTon Prototype"
        block scripts
            link( href="../assets/css/core.css" rel="stylesheet")
            link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body
        
        block header

            include ../includes/header.jade

        block split

            include ../includes/split.jade

        block content

        block quote

            include ../includes/quote.jade

        block about

            include ../includes/about.jade

        block footer
                        
            footer.footer
                .container
                    br
                    .row
                        .col-md-6.text
                            | © 2016 BonTon Events.
                            br
                            | Built by PlusPlusMinus.
                        .col-md-6
                            ul.nav.navbar-nav.pull-md-right
                                li.nav-item
                                    a.nav-link(href="https://www.facebook.com/pages/BonTon-Event-Specialists/212240105543207")
                                        i.fa.fa-facebook-square.fa-2x
                                li.nav-item
                                    a.nav-link(href="https://twitter.com/BonTonEvents")
                                        i.fa.fa-twitter-square.fa-2x
                                li.nav-item
                                    a.nav-link(href="http://pinterest.com/bonton123/")
                                        i.fa.fa-pinterest-square.fa-2x
                                li.nav-item
                                    a.nav-link(href="https://www.instagram.com/bonton_events/?hl=en")
                                        i.fa.fa-instagram.fa-2x
                                li.nav-item
                                    a.nav-link(href="http://bonton.co.za/feed/")
                                        i.fa.fa-rss-square.fa-2x
                    br

                    #workwithus.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                    .lead.modal-title Work with us
                                .modal-body
                                    .lead Fusce dapibus, tellus ac cursus commodo.
                                    br
                                    form
                                        fieldset.form-group
                                            label.lead Name
                                            input.form-control(type='text')
                                        fieldset.form-group
                                            label.lead Email
                                            input.form-control(type='text')
                                        fieldset.form-group
                                            label.lead Message
                                            textarea.form-control(rows='3')

                                .modal-footer
                                    button.btn.btn-secondary(type='button', data-dismiss='modal') Send message



        block footscripts
            script(src="../bower/jquery/dist/jquery.min.js")
            script(src="../bower/tether/dist/js/tether.min.js")
            script(src="../bower/bootstrap/dist/js/bootstrap.min.js")
            script(src="../bower/holderjs/holder.js")
            script(src="../assets/js/general.js")