doctype html
html(lang="en")
    head
        title= "BonTon Prototype"
        block scripts
            link( href="../assets/css/core.css" rel="stylesheet")
            link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body
        
        block content

        block newsletter
            
            footer.newsletter
                .container
                    br
                    br
                    .row
                        .col-md-12.text-md-center
                            h5 Sign up to receive our newsletter   
                    br
                    .row
                        .col-md-6.col-md-offset-3
                            form(name="input", action="html_form_action.asp", method="get")
                                .row
                                    .form-group.col-md-12
                                        input.form-control(type="text", name="name" placeholder="Full Name")
                                .row
                                    .form-group.col-md-12
                                        input.form-control(type="text", name="email" placeholder="Email Address")
                                .row
                                    .col-md-6.col-md-offset-3
                                        input.btn.btn-primary.btn-block(type="submit", value="Submit")
                    br
                    br

        block foot

            footer.footer
                .container
                    br
                    br
                    .row
                        .col-md-12
                            ul.nav.navbar-nav.pull-md-left
                                li.nav-item Home
                                li.nav-item About
                                li.nav-item Contact

                    br
                    hr(style="margin-top: 0px; margin-bottom: 0px; border-color: #ccc;")
                        
            footer.footer
                .container
                    br
                    .row
                        .col-md-6
                            small © 2016 BonTon Events. 
                            br
                            small Built by PlusPlusMinus.
                        .col-md-6
                            ul.nav.navbar-nav.pull-md-right
                                li.nav-item
                                    a.nav-link(href="https://www.facebook.com/pages/BonTon-Event-Specialists/212240105543207")
                                        i.fa.fa-facebook-square.fa-2x
                                li.nav-item
                                    a.nav-link(href="https://twitter.com/BonTonEvents")
                                        i.fa.fa-twitter-square.fa-2x
                                li.nav-item
                                    a.nav-link(href="http://pinterest.com/bonton123/")
                                        i.fa.fa-pinterest-square.fa-2x
                                li.nav-item
                                    a.nav-link(href="https://www.instagram.com/bonton_events/?hl=en")
                                        i.fa.fa-instagram.fa-2x
                                li.nav-item
                                    a.nav-link(href="http://bonton.co.za/feed/")
                                        i.fa.fa-rss-square.fa-2x
                    br

        block footscripts
            script(src="../bower/jquery/dist/jquery.min.js")
            script(src="../bower/tether/dist/js/tether.min.js")
            script(src="../bower/bootstrap/dist/js/bootstrap.min.js")
            script(src="../bower/holderjs/holder.js")
            script(src="../assets/js/general.js")